<form>
    <div class="form-group">
        <label for="wktEntry">Projeksiyon Seç</label>
        <select id="projSelect" class="form-control"></select>
    </div>
    <div class="form-group">
        <label for="wktEntry">WKT</label>
        <textarea class="form-control" id="wktEntry" rows="3"></textarea>
        <span id="alertProjection" style="font-size:80%;margin-top: .25rem; color:red; display:none;">Boş geçilemez !!</span>
    </div>
    <div class="form-group">
        <button id="drawBtn" style="margin-top:10px;" type="button" class="btn btn-primary">Çiz</button>
    </div>
</form>