

<table id="table">
    <thead>
        <tr>
            <th data-field="name">Ad</th>
            <th data-field="createDate">Tarih</th>
            <th data-field="coordinate">Kordinat</th>
            <th data-formatter="actionFormatter">Action</th>
        </tr>
    </thead>
</table>